        body {
            background-color: #2F0B01;
            color: #c7d5e0;
            font-family: 'Georgia', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
        .cards {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
        }
        .card.extendida {
            text-align: center;
            background-color: #c53f3f;
            padding: 20px;
            margin: 10px;
            border-radius: 5px;
            width: 86.3%;
        }
        .back-button {
            width: 100%;
            padding: 10px;
            background: #dd5d61;
            color: #000000;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-weight: bold;
        }

        .back-button:hover {
            background: #9e1616;
        }
