body {
            font-family: 'Georgia', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
        .cards {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
        }
        .card.extendida {
            text-align: center;
            background-color: #e68ec0;
            padding: 20px;
            margin: 10px;
            border-radius: 5px;
            width: 86.3%;
        }
